@font-face {
  font-family: 'FontAwesome';
  src: url('chrome-extension://__MSG_@@extension_id__/vendors/font-awesome-4.6.3/fonts/fontawesome-webfont.woff2');
}

div.Gallery-media > div.img-toolbar {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 30px;
  width: 150px;
  background-color: rgba(90, 90, 90, 0.3);
  border-radius: 2px;
  z-index: 10000;
  display: flex;
  flex-direction: row;
}

div.img-toolbar > div.img-toolbar-button {
  flex-grow: 1;
  border-radius: 2px;
}

div.img-toolbar > div.img-toolbar-button:hover {
  background-color: rgba(80, 80, 80, 0.4);
}
